name: test_python
on:
  pull_request:
    branches: main
  push:
    branches: main
jobs:
  test_python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - run: sudo apt-get update
      - run: sudo apt-get install --fix-missing ffmpeg python3-soundfile
      - run: pip install pyre-check pytest torchvision>=0.11
      - run: pip install -e .[av]
      - run: pyre --source-directory "." --noninteractive check || true
      - run: pytest --durations=10 .
